VITE_URL_BASE=http://localhost:8000
VITE_SUPABASE_URL=https://liozrgbbzystazxfmyoj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxpb3pyZ2JienlzdGF6eGZteW9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwOTIzMDcsImV4cCI6MjA5ODY2ODMwN30.FBRRFIy6g-J-PYxLNMIrJ75itOX6KoM01y0MvCeyWHk